# Incident: Test report affecting 0 users for 0 minutes

Template version 2026.03.12  
All times are written in UTC. Use 24-hour clock and "YYYY-MM-DD hh:mm" formatting. Use Google Doc chips for people, but not for dates. [See the documentation](https://mozilla-hub.atlassian.net/wiki/spaces/MIR/pages/1891074056/Incident+reports#Section:-Incident-details-at-the-top).

| Incident Severity *Consider the business impact as you set this Severity. Refer to [this guide](https://mozilla-hub.atlassian.net/wiki/spaces/MIR/pages/20512894/Incident+Severity+Levels). If the priority of your incident changes during its lifecycle, please capture this in the Timeline section and one of the written sections. Include rationale for why you assigned this severity level.* | S2 \- High |
| :---- | :---- |
| **Severity rationale** 1-2 sentence rationale based on Severity Level guide | It was soooo bad. |
| **Current Status** | **Resolved** |
| **Jira Ticket/Bug Number** |  |
| **Time declared** *This is the date and time the incident was declared in \#incidents.* YYYY-MM-DD hh:mm | 2026-03-12 01:00 |
| **Time of first Impact** *This is the time the impact first started.* YYYY-MM-DD hh:mm | 2026-03-12 02:00 |
| **Time Alerted** *PagerDuty sent its first alert/page or when someone alerted us.* YYYY-MM-DD hh:mm | 2026-03-12 03:00 |
| **Time Acknowledged** *The first PagerDuty page was acknowledged or first response from an engineer.* YYYY-MM-DD hh:mm | 2026-03-12 04:00 |
| **Time Responded/Engaged** *First moment the problem was being engaged (i.e. reading errors, graphs, etc to begin understanding what was wrong / why the alert even triggered)* YYYY-MM-DD hh:mm | 2026-03-12 05:00 |
| **Time Mitigated (Repaired)** *Impact of the incident is mitigated even if it means we still have to do continued work behind the scenes to be done with the risk of further service degradation.* YYYY-MM-DD hh:mm | 2026-03-12 06:00 |
| **Time Resolved** *Time when a stable workaround was released/deployed such that we can move on to post-mortem incident work.* YYYY-MM-DD hh:mm | 2026-03-12 07:00 |
| **Detection method** | **Please select** |
| **Impacted entities** *List of services and products affected. For services, use the [application code](https://github.com/mozilla-services/inventory/blob/master/application_registry.csv).* | testreport, incidents |
| **Video Call Link** |  |
| **Slack Channel** | \#incident-testreport |

## Who’s on point

| Role | Name (slack handle) | Notes / supporting docs |
| :---- | :---- | :---- |
| **Incident Commander** | \<enter *one* name here using @- tagging\> [William Kahn-Greene](mailto:wkahngreene@mozilla.com) |  |
| **Communications** | \<enter names here using @- tagging\> [Cassandra Dymock](mailto:cdymock@mozilla.com) | *Which one person is communicating inside Mozilla (to all)? Which one person is communicating with the public? Which one person is communicating with any other stakeholders not listed above (external partners, press, Mozilla execs, etc)?* |
| **Engineer(s)** | Jim \- engineer [William Kahn-Greene](mailto:wkahngreene@mozilla.com) \- engineer | *Put a parenthesis next to each person’s name who is working on this incident (during the incident, to resolve it), to help us identify any extra info about them that is pertinent to the problem (or, don’t leave a parentheses and just write names).* Examples: @nameA (primary on-call) @nameB (secondary on-call) @nameC (\<service-name\> engineer) @nameD (Firefox Incident Engineering Lead)  |
| Other (Common Firefox Incident Roles, remove if not needed) |  |  |
| Support |  |  |
| QA |  |  |
| Release Manager |  |  |
| Release Engineer |  |  |
| Metrics/Data |  |  |

## Timeline

| YYYY-MM-DD hh:mm | Person(s) | Observation/event/communication/action |
| :---- | :---- | :---- |
|  |  |  |
|  |  |  |
|  |  |  |
|  |  |  |
|  |  |  |
|  |  |  |
|  |  |  |
|  |  |  |
|  |  |  |
|  |  |  |
|  |  |  |
|  |  |  |
|  |  |  |
|  |  |  |

# Impact

**Impact statement for this incident. [See the documentation](https://mozilla-hub.atlassian.net/wiki/spaces/MIR/pages/1891074056/Incident+reports#Section%3A-Impact).**

# Description of the issue

**Description for this incident. [See the documentation.](https://mozilla-hub.atlassian.net/wiki/spaces/MIR/pages/1891074056/Incident+reports#Section%3A-Description-of-the-issue)**

# Contributing Factors

**Contributing factors for this incident. Use Five Whys format. [See the documentation.](https://mozilla-hub.atlassian.net/wiki/spaces/MIR/pages/1891074056/Incident+reports#Section:-Contributing-Factors)**

# Postmortem Action Items

| Jira Ticket \+ Status | Ticket Title / Context / Summary / Reason |
| :---- | :---- |
| \[[JIRA-123](https://mozilla-hub.atlassian.net/browse/)\] Status: Done | *Template row--please remove after you've added action items. \<Ticket Title\> \<Context / Summary / Reason. Provide some context and/or info around this action item\>* |
|  |  |
|  |  |

# Postmortem meeting notes

# Post-incident review meeting notes

# Appendix

